<section
  id="blogs"
  class="container-fluid text-center text-light d-flex flex-column align-items-center"
>
  <img
    src="../shared/assets/Star.svg"
    class="star-icon"
    data-aos="fade-down"
    data-aos-duration="1500"
  />
  <h2 class="title">Blogs & Resourses</h2>
  <h4 class="description mb-5">
    Find more about me and my workings in my personal blogs.
  </h4>
  <div class="blogs-content">
    <!-- <div class="left">
      <div class="learn-more">
        <p>Learn More..</p>
        <a href="#" class="link-icon"
          ><img src="../shared/assets/blogs/link-external-01.svg" alt="link-external icon"
        /></a>
      </div>
    </div> -->
    <div class="right blogs-container">
      <div class="blog-card">
        <a
          href="https://elzero.org/%d8%aa%d8%ad%d8%b3%d9%8a%d9%86-%d8%aa%d8%ac%d8%b1%d8%a8%d8%a9-%d8%a7%d9%84%d9%85%d8%b3%d8%aa%d8%ae%d8%af%d9%85-%d9%81%d9%8a-%d9%85%d9%88%d8%a7%d9%82%d8%b9-%d8%a7%d9%84%d8%aa%d8%ac%d8%a7%d8%b1%d8%a9/"
          ><img
            src="../shared/assets/blogs/5-strategies.png"
            alt="5 استراتيجيات لتحسين تجربة المستخدم في مواقع التجارة الإلكترونية"
        /></a>
        <img
          src="../shared/assets/blogs/link-external-01.svg"
          alt="link-external icon"
          class="link-external-icon"
        />
      </div>
      <div class="blog-card">
        <a href="https://elzero.org/web-and-internet-glossary/"
          ><img
            src="../shared/assets/blogs/developer-terms.jpg"
            alt="بعض المصطلحات في عالم التقنية ومعناها"
        /></a>
        <img
          src="../shared/assets/blogs/link-external-01.svg"
          alt="link-external icon"
          class="link-external-icon"
        />
      </div>
      <div class="blog-card">
        <a href="https://elzero.org/hardest-programming-language/"
          ><img
            src="../shared/assets/blogs/hardest-programming-language.jpg"
            alt="أصعب لغة برمجة وهل البرمجة صعبة ؟"
        /></a>
        <img
          src="../shared/assets/blogs/link-external-01.svg"
          alt="link-external icon"
          class="link-external-icon"
        />
      </div>
      <div class="blog-card">
        <a href="https://elzero.org/performance-tips-when-using-libraries/"
          ><img
            src="../shared/assets/blogs/website-performance-when-import-libraries.jpg"
            alt="نصائح تخص أداء الموقع عند إستدعاء المكتبات"
        /></a>
        <img
          src="../shared/assets/blogs/link-external-01.svg"
          alt="link-external icon"
          class="link-external-icon"
        />
      </div>
    </div>
  </div>
</section>
