<section id="testimonials" class="container-fluid text-center text-light">
  @if(screenWidth >= 755){
  <img
    src="../shared/assets/courses/Star 3.png"
    alt="Star"
    class="star-icon mb-3"
    data-aos="fade-down"
    data-aos-duration="1500"
  />
  }
  <h2 class="title">Testimonials & Recomendetion</h2>
  <img
    src="../shared/assets/logo trans.png"
    alt="Zero-logo"
    class="logo-icon mt-5"
  />

  <div class="cardsWrapper">
    <div class="card-slide">
      <img src="../shared/assets/testimonials/card-1.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-2.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-3.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-4.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-5.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-6.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-7.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-8.jpg" alt="" />
    </div>
    <div class="card-slide">
      <img src="../shared/assets/testimonials/card-1.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-2.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-3.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-4.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-5.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-6.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-7.jpg" alt="" />
      <img src="../shared/assets/testimonials/card-8.jpg" alt="" />
    </div>
  </div>
</section>
