<section id="callToActionFooter">
  <div class="callToAction">
    <div class="title">
      <div class="callToActionStar">
        <img
          src="../shared/assets/Star.svg"
          alt="star icon, only for aesthetics"
          data-aos="fade-down"
          data-aos-duration="1500"
        />
      </div>
      <h1>Call To Action</h1>
    </div>

    <div class="actionsWrapper">
      <div id="workTogether" class="action">
        <img
          src="../shared/assets/calltoact/collab.svg"
          alt="two people helping each other bringing an idea to life"
        />
        <h3>
          Looking to collaborate on a project? <br />
          <a href="/contact">Let's work together!</a>
        </h3>
      </div>
      <div id="viewCourses" class="action">
        <img
          src="../shared/assets/calltoact/courses.svg"
          alt="a guy teaching how to combine pieces of code together to build a project"
        />
        <h3>
          Ready to start your coding jorney? <br />
          <span
            >Dive into my
            <a
              href="https://www.youtube.com/@ElzeroWebSchool/courses"
              target="_blank"
              >courses.</a
            ></span
          >
        </h3>
      </div>
      <div id="viewSocial" class="action">
        <img
          src="../shared/assets/calltoact/conversation.svg"
          alt="a girl waiting waiting on a phone waiting to start a converstaion "
        />
        <h3>
          Want to join the conversation?<br />Connect with me on
          <a href="https://www.youtube.com/@ElzeroWebSchool" target="_blank"
            >Youtube</a
          >
          or<a href="https://www.facebook.com/OsElzero" target="_blank">
            social media.</a
          >
        </h3>
      </div>
    </div>
  </div>
  <footer>
    <div class="contentWrapper">
      <div class="logo">
        <img
          src="../shared/assets/calltoact/Logo.svg"
          alt="el zero webschool youtube channel logo"
        />
      </div>
      <div class="footerContactInput">
        <input type="text" placeholder="Email" />
        <button>Contact</button>
      </div>
      <div class="footerNavigationWrapper">
        <div class="help">
          <h4>Help</h4>
          <ul>
            <li>
              <a href="https://elzero.org/contact/" target="_blank">Ask me</a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@ElzeroWebSchool/community"
                target="_blank"
                >Community</a
              >
            </li>
            <li>
              <a href="https://codepen.io/OsamaElzero/" target="_blank"
                >Resources</a
              >
            </li>
            <li><a href="https://elzero.org/" target="_blank">Website</a></li>
          </ul>
        </div>
        <div class="navigation">
          <h4>Navigation</h4>
          <ul>
            <li><a (click)="scrollToSection('home')">Home</a></li>
            <li><a (click)="scrollToSection('aboutMe')">About</a></li>
            <li>
              <a (click)="scrollToSection('skills')">Skills & Expertise</a>
            </li>
            <li>
              <a (click)="scrollToSection('workExperience')">Work Experience</a>
            </li>
            <li>
              <a (click)="scrollToSection('courses')">Courses</a>
            </li>
            <li>
              <a (click)="scrollToSection('impact')">Impact</a>
            </li>
            <li>
              <a (click)="scrollToSection('speakings')">Speakings</a>
            </li>
            <li>
              <a (click)="scrollToSection('blogs')">Blogs</a>
            </li>
            <li>
              <a (click)="scrollToSection('testimonials')">Testimonials</a>
            </li>
            <li>
              <a (click)="scrollToSection('Contact')">Contact</a>
            </li>
          </ul>
        </div>
        <div class="social">
          <h4>Social</h4>
          <ul>
            <li>
              <a href="https://github.com/ElzeroWebSchool" target="_blank"
                ><img
                  src="../shared/assets/calltoact/Github.svg"
                  alt="click here to open my github account"
              /></a>
            </li>
            <li>
              <a href="https://www.facebook.com/OsElzero" target="_blank"
                ><img
                  src="../shared/assets/calltoact/facebook.svg"
                  alt="click here to open my facebook account"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/osamaelzero" target="_blank"
                ><img
                  src="../shared/assets/calltoact/linkedin.svg"
                  alt="click here to open my linkedin account"
              /></a>
            </li>
            <li>
              <a href="https://x.com/Osama_Elzero" target="_blank"
                ><img
                  src="../shared/assets/calltoact/x.svg"
                  alt="click here to open my x account"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p id="tradeMark">© Osama Mohammed 2024 All rights reserved.</p>
  </footer>
</section>
