<section id="impact" class="container-fluid text-center text-light py-5">
  <img
    src="../shared/assets/mena/Star 3.png"
    alt="Star"
    class="star-icon mb-3"
    data-aos="fade-down"
    data-aos-duration="1500"
  />

  <h2 class="mb-3">Impact in the MENA Region</h2>
  <p class="lead mb-5">
    Success stories, community engagement, media coverage and more...
  </p>

  <div class="d-flex justify-content-center align-items-center">
    <div
      class="card mx-3"
      style="width: 18rem; height: fit-content; max-height: 288px"
    >
      <div class="card-body" data-aos="fade-down" data-aos-duration="1500">
        <h5 class="hoverTxt">Success Stories</h5>
        <img
          src="../shared/assets/mena/succesStory.jpg"
          alt="osama sharing a success where he earned to one of the best mena content cretors on linkedIn"
          class="img-fluid"
        />
      </div>
    </div>

    <div
      class="card mx-3"
      style="width: 18rem; height: fit-content"
      data-aos="fade-down"
      data-aos-duration="1800"
    >
      <div class="card-body">
        <h5 class="hoverTxt">Community Engagement</h5>
        <img
          src="../shared/assets/mena/publicevent.jpg"
          alt="osama engaging with couple of other community members"
          class="img-fluid"
        />
      </div>
    </div>

    <div
      class="card mx-3"
      style="width: 18rem; height: fit-content"
      data-aos="fade-down"
      data-aos-duration="2000"
    >
      <div class="card-body">
        <h5 class="hoverTxt">Media Coverage</h5>
        <img
          src="../shared/assets/mena/mediaCoverage.jpg"
          alt="osama mohammed with other youtubers covering a programming topic"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
