<nav id="navbar" class="mobile">
  @if (screenWidth <= 755 ) {
  <ng-template #mobileNavBar>
    <div class="topNav">
      <div class="logo">
        <img src="../shared/assets/logo trans.png" alt="" />
      </div>
      <div class="burgerBtn" (click)="showNavBar()" role="button">
        <svg
          id="btnh"
          width="36"
          height="26"
          viewBox="0 0 36 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="burger"
            d="M3 3H33M3 13H33M3 23H33"
            stroke="#57ABC7"
            stroke-width="5"
            stroke-linecap="round"
          />
          <path
            id="close"
            d="M8 23.75L6.25 22L13.25 15L6.25 8L8 6.25L15 13.25L22 6.25L23.75 8L16.75 15L23.75 22L22 23.75L15 16.75L8 23.75Z"
            fill="#FEF7FF"
          />
        </svg>
      </div>
    </div>
    <div class="navigationWrapper">
      <div class="itemsWrapper">
        <div class="navigationItem">
          <h3>Home</h3>
        </div>
        <div class="navigationItem">
          <h3>About</h3>
        </div>
        <div class="navigationItem">
          <h3>Courses</h3>
        </div>
        <div class="navigationItem">
          <h3>Contact</h3>
        </div>
        <div class="navigationItem">
          <h3>Support</h3>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-container *ngTemplateOutlet="mobileNavBar"></ng-container>
  } @else {
  <ng-template #navbar>
    <div class="navWrapper">
      <div class="logo">
        <img src="../shared/assets/logo trans.png" alt="" />
      </div>
      <div class="navigationWrapper">
        <div class="itemsWrapper">
          <div (click)="scrollToSection('home')" class="navigationItem">
            <h3>Home</h3>
          </div>
          <div (click)="scrollToSection('aboutMe')" class="navigationItem">
            <h3>About</h3>
          </div>
          <div (click)="scrollToSection('courses')" class="navigationItem">
            <h3>Courses</h3>
          </div>
          <div (click)="scrollToSection('Contact')" class="navigationItem">
            <h3>Contact</h3>
          </div>
        </div>
      </div>
      <div class="favBtn">
        <a href="https://elzero.org/support/" target="_blank">Support</a>
      </div>
    </div>
  </ng-template>
  <ng-container *ngTemplateOutlet="navbar"></ng-container>
  }
</nav>
