<section id="workExperience" class="work-experience container-fluid">
  <div
    class="header d-flex flex-column align-items-center justify-content-center mb-5"
  >
    <img
      src="../shared/assets/workex/Star 3.png"
      alt="Star icon"
      class="main-star img-fluid"
      data-aos="fade-down"
      data-aos-duration="1500"
    />
    <h2>Work Experience</h2>
  </div>

  <!-- ############################### -->
  <div class="content-container">
    <div
      class="section-title pb-4 d-flex align-items-center justify-content-center justify-content-xl-start"
    >
      <h3 class="title-text d-flex flex-column flex-xl-row gap-1">
        The road to
        <span data-aos="fade-left" data-aos-duration="1500"> inspire</span>
      </h3>
    </div>

    <!-- ############################### -->
    <div
      class="job-details row flex-column flex-xl-row row-gap-3 container-fluid"
    >
      <div
        class="col-custom"
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-anchor-placement="bottom-bottom"
      >
        <div
          class="job-group d-flex flex-row align-items-center flex-xl-column gap-3"
        >
          <div
            class="icon-group d-flex align-items-center flex-column gap-4 justify-content-start"
          >
            <div class="dot-icons d-flex gap-4 flex-column flex-xl-row">
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
            </div>
            <div class="star-icon">
              <img src="../shared/assets/workex/star.svg" alt="star" />
            </div>
          </div>
          <div class="job-description d-flex flex-column gap-2">
            <h4>Front-End <br />Developer</h4>
            <span class="company">sbeit</span>
            <span class="dates">Oct 2010 - May 2012 <br />Riyadh</span>
          </div>
        </div>
      </div>

      <div
        class="col-custom"
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="300"
      >
        <div
          class="job-group d-flex flex-row align-items-center flex-xl-column gap-3"
        >
          <div
            class="icon-group d-flex align-items-center flex-column gap-4 justify-content-start"
          >
            <div class="dot-icons d-flex gap-4 flex-column flex-xl-row">
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
            </div>
            <div class="star-icon">
              <img src="../shared/assets/workex/star.svg" alt="star" />
            </div>
          </div>
          <div class="job-description d-flex flex-column gap-2">
            <h4>Full Stack <br />Developer</h4>
            <span class="company">NCSCo - NashirNet</span>
            <span class="dates">Jun 2012 - Feb 2017 <br />Riyadh</span>
          </div>
        </div>
      </div>

      <div
        class="col-custom"
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="500"
      >
        <div
          class="job-group d-flex flex-row align-items-center flex-xl-column gap-3"
        >
          <div
            class="icon-group d-flex align-items-center flex-column gap-4 justify-content-start"
          >
            <div class="dot-icons d-flex gap-4 flex-column flex-xl-row">
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
            </div>
            <div class="star-icon">
              <img src="../shared/assets/workex/star.svg" alt="star" />
            </div>
          </div>
          <div class="job-description d-flex flex-column gap-2">
            <h4>Front-End <br />Developer</h4>
            <span class="company">IMSIU</span>
            <span class="dates">Feb 2017 - Sep 2018 <br />Riyadh</span>
          </div>
        </div>
      </div>

      <div
        class="col-custom"
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="700"
      >
        <div
          class="job-group d-flex flex-row align-items-center flex-xl-column gap-3"
        >
          <div
            class="icon-group d-flex align-items-center flex-column gap-4 justify-content-start"
          >
            <div class="dot-icons d-flex gap-4 flex-column flex-xl-row">
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
            </div>
            <div class="star-icon">
              <img src="../shared/assets/workex/star.svg" alt="star" />
            </div>
          </div>
          <div class="job-description d-flex flex-column gap-2">
            <h4>Front-End <br />Developer</h4>
            <span class="company">Ministry of Justice - KSA</span>
            <span class="dates">Oct 2018 - Jan 2020 <br />Riyadh</span>
          </div>
        </div>
      </div>

      <div
        class="col-custom"
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="800"
      >
        <div
          class="job-group d-flex flex-row align-items-center flex-xl-column gap-3"
        >
          <div
            class="icon-group d-flex align-items-center flex-column gap-4 justify-content-start"
          >
            <div class="dot-icons d-flex gap-4 flex-column flex-xl-row">
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
              <img src="../shared/assets/workex/dot.svg" alt="dot" />
            </div>
            <div class="star-icon">
              <img src="../shared/assets/workex/star.svg" alt="star" />
            </div>
          </div>
          <div class="job-description d-flex flex-column gap-2">
            <h4>El Zero <br />Web-School</h4>
            <span class="company">Freelance</span>
            <span class="dates">Jan 2014 - Present Riyadh</span>
          </div>
        </div>
      </div>

      <!-- Repeat for other job-group sections -->
      <!-- <div class="col-12 col-md-6 col-xl-3 mb-4">
        <div
          class="job-group d-flex flex-column align-items-center text-center text-xl-start gap-4"
        >
          <div
            class="icon-group d-flex align-items-center flex-column flex-xl-row gap-3"
          >
            <div class="dot-icons d-flex gap-5">
              <img
                src="../shared/assets/workex/dot.svg"
                alt="dot"
                class="img-fluid"
              />
            </div>
            <div class="star-icon">
              <img
                src="../shared/assets/workex/star.svg"
                alt="star"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="job-description d-flex flex-column gap-2">
            <h4>Front-End <br />Developer</h4>
            <span class="company">sbeit</span>
            <span class="dates">Oct 2010 - May 2012 <br />Riyadh</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
